html{
    font-size:62.5%;
}
body{
    font-family: 'SpoqaHanSans','Nexa',sans-serif;
    color: #222;
    font-size: 1.7rem;
    font-weight: 400;
    position: relative;
}
.wrapper{
    max-width: 95%;
    position: relative;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: block; 
    clear: both;
}
/************header************/
#header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    width: 100%;
}
#header .header_menu{
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}
#header .header_menu .header_d{
    display: none;
}
#header .header_menu .top{
    height: 80px;
    color: #22408f;
}
#header .header_menu .top .logo{
    float: left;
    line-height: 80px;
    font-size: 2.8rem;
    font-family: 'Nexa';
    font-weight: 700;
    margin-top: 2px;
}
#header .header_menu .top .logo a img{
	vertical-align: middle;
	transform: translate(0,-15%);
	margin-right: 10px;
}
#header .header_menu .top .logo a span{
	height: 30px;
	line-height: 30px;
}
#header .header_menu .top .header_mobile{
    display: none;
}
#header .header_menu .top .header_mobile,
#header .header_menu .top .header_web{
    float: right;
}
#header .header_menu .top .header_web .menu_text{
    float: left;
    position: absolute;
    right:43px;
    top:50%;
    transform: translateY(-50%);
}
#header .header_menu .top .header_mobile .m_hambtn,
#header .header_menu .top .header_web .hambtn{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:0%;
    cursor: pointer;
    z-index: 3;
    width: 30px;
    height: 25px;
}
#header .header_menu .top .header_mobile .m_hambtn .m_line,
#header .header_menu .top .header_web .hambtn .line{
    background-color: #22408f;
    width: 31px;
    height: 4px;
    display: block;
    border-radius: 100px;
    position: absolute;
    left: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
#header .header_menu .top .header_mobile .m_hambtn .m_line1,
#header .header_menu .top .header_web .hambtn .line1{
    top:0;
}
#header .header_menu .top .header_mobile .m_hambtn .m_line2,
#header .header_menu .top .header_web .hambtn .line2{
    top:10px;
    width: 21px;
}
#header .header_menu .top .header_mobile .m_hambtn .m_line3,
#header .header_menu .top .header_web .hambtn .line3{
    bottom:0;
}
#header .header_menu .top .header_mobile .m_close,
#header .header_menu .top .header_web .close {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:0;
    cursor: pointer;
    z-index:5;
    width: 30px;
    height: 25px;
    display: none
}
.open1{
    transform: rotate(45deg);
    transform-origin:0 50%;
}
.open2{
    opacity: 0
}
.open3{
    transform: rotate(-45deg);
    transform-origin:0 50%
}
/****************gnb***************/
#header .header_menu .gnb_menu{
    background-color: #000;
    position: absolute;
    top:80px;
    left:-2000px;
    z-index:4;
    height:100vh;
    -webkit-height: 100vh;
    -moz-height: 100vh;
    -ms-height: 100vh;
    -o-height: 100vh;
    width: 30%;
    box-sizing: border-box;
    display: none;
    font-family: 'Nexa',sans-serif;
}
#header .header_menu .gnb_menu .middle{
    display: table;
    height: 100vh;
    width: 100%;
}
#header .header_menu .gnb_menu .middle .gnb{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
}
#header .header_menu .gnb_menu .middle .gnb .sgnb{
    margin-bottom: 40px;
}
#header .header_menu .gnb_menu .middle .gnb .sgnb:last-child{
    margin-bottom: 110px
}
#header .header_menu .gnb_menu .middle .gnb .sgnb .menu{
    font-weight: 300;
    color:#fff;
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 0 40px;
    opacity: 0.7
}
#header .header_menu .gnb_menu .middle .gnb .sgnb .menu_tit{
    font-size: 3.8rem;
    font-weight: 700;
    opacity: 1
}
#header .header_menu .gnb_menu .middle .gnb .sgnb .menu a:hover{
    color:#00e701;
    transition: 0.5s;
}
/*********************visual*****************************/
#visual{
    padding-top: 80px;
}
/*********************container*****************************/
#container{
    margin-top: 100px;
    margin-bottom: 100px;
}
#container .con_under_btn{
    text-align: center
}
#container .con_under_btn a{
    display: inline-block;
    font-family: 'Nexa';
    margin-top:70px;
    color: #000;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 3rem
}
#container .con_under_btn a:hover {
    color: #fe0000;
    transition: 0.4s;
}
/********************footer**********************/
#footer{
    background-color:#eee;
    height: 300px;
    text-align: center;
    color: #707070;
    font-family: 'Nexa';
    display: table;
    width: 100%;
} 
#footer .wrapper{
    display: table-cell;
    vertical-align: middle;
}
#footer .wrapper .foot_logo{
    font-weight: 700;
    margin-bottom: 15px;
	margin-top: 15px;
    font-size: 2rem
}
#footer .wrapper .copy{
    font-size: 1.4rem
}

/**********************************************/


/*****(1200)*****/
@media screen and (max-width: 1200px){
    
}
/***********************(1024-750)********************/
@media screen and (max-width: 1024px){
    .wrapper{
        max-width: 92%;
    } 
    #header .header_menu .top{
        height: 66px;
    }
    #header .header_menu .top .logo{
        line-height: 66px;
        font-size: 3rem;
        margin-top: 2px;
    }
    #header .header_menu .top .header_mobile{
        display:block;
    }
    #header .header_menu .top .header_web{
        display:none;
    }
    #header .header_menu .top .header_mobile .m_hambtn{
        width: 31px;
        height: 26px;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line{
        width: 31px;
        height: 3px;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line1{
        bottom:0;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line2{
        width: 22px;
        top:11px;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line3{
        bottom:0;
    }
    #header .header_menu .top .header_mobile .m_close{
        width: 31px;
        height: 26px;
    }
    #header .header_menu .gnb_menu{
        top:66px;
		width: 100%;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb .menu{
        font-size: 2.2rem;
        margin-bottom: 22px;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb .menu_tit{
        font-size: 4.5rem;
    }
    #visual{
        padding-top: 66px;
    }  
}
/********************(780)**********************/
@media screen and (max-width: 780px){
    #header .header_menu .top{
        height: 55px;
    }
    #header .header_menu .top .logo{
        line-height: 55px;
        font-size: 2.7rem;
        margin-top: 1px;
    }
    #header .header_menu .top .header_mobile .m_hambtn{
        width: 28px;
        height: 24px;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line{
        width: 28px;
        height: 4px;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line1{
        bottom:0;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line2{
        width: 20px;
        top:10px;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line3{
        bottom:0;
    }
    #header .header_menu .top .header_mobile .m_close{
        width: 28px;
        height: 24px;
    }
    #header .header_menu .gnb_menu{
        top:50px;
		width: 100%;
    }
    #header .header_menu .top .header_web .menu_text{
        display: none;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb{
        margin-bottom: 30px;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb .menu{
        font-size:2rem;
        margin-bottom: 20px;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb .menu_tit{
        font-size: 3.8rem;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb:last-child{
        margin-bottom: 60px
    }
    #visual{
        padding-top: 55px
    } 
    #container{
        margin-bottom: 70px;
        margin-top: 70px;
    }
     #container .con_under_btn{
        text-align: left;
    }
    #container .con_under_btn a{
        font-size: 2.8rem;
        margin-top: 35px;
    }
    #footer{
        height: 200px;
        text-align: left;
    } 
	#footer .wrapper .foot_img{
		margin-left: 4%;
	}
	#footer .wrapper .foot_img img{
		width: 40px;
	}
    #footer .wrapper .foot_logo{
        margin-bottom: 7px;
        font-size: 2rem;
        margin-left: 4%;
    }
    #footer .wrapper .copy{
        font-size: 1.2rem;
        margin-left: 4%;
        font-weight: 700
    }
}
/***********(480)**********/
@media screen and (max-width: 480px){
    #header .header_menu .top{
        height: 50px;
    }
    #header .header_menu .top .logo{
        line-height: 50px;
        font-size: 2rem;
        margin-top: 3px;
    }
    #header .header_menu .top .header_mobile .m_hambtn{
        width: 25px;
        height: 21px;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line{
        width: 25px;
        height: 3px;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line1{
        bottom:0;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line2{
        width: 19px;
        top:9px;
    }
    #header .header_menu .top .header_mobile .m_hambtn .m_line3{
        bottom:0;
    }
    #header .header_menu .top .header_mobile .m_close{
        width: 25px;
        height: 21px;
    }
    #header .header_menu .gnb_menu{
        top:50px;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb .menu{
        font-size:1.9rem;
        margin-bottom: 16px;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb .menu_tit{
        font-size: 3rem;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb:last-child{
        margin-bottom: 60px
    }
    #visual{
        padding-top:50px;
    }
    #container{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    #container .con_under_btn a{
        font-size: 2rem;
    }
    #footer{
        height: 90px;
    } 
    #footer .wrapper .foot_logo{
        font-size: 1.8rem;
        margin-bottom: 6px
    }
    #footer .wrapper .copy{
        font-size: 1.1rem;
    }
}
/*****(375)*****/
@media screen and (max-width: 375px){ 
    #header .header_menu .gnb_menu .middle .gnb .sgnb:last-child{
        margin-bottom: 65px
    }
}
    /*****(360)*****/
@media screen and (max-width: 360px){ 
    #header .header_menu .gnb_menu .middle .gnb .sgnb{
        margin-bottom: 20px;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb .menu{
        font-size:1.8rem;
        margin-bottom: 16px;
    }
    #header .header_menu .gnb_menu .middle .gnb .sgnb .menu_tit{
        font-size:2.7rem;
    }   
}

